<div id="dropdown-cart">
  <div class="cart-title">
    <h3>
      shopping cart
    </h3>
    <a href="javascript:void(0)" title="Close cart" class="close-cart close">
      <svg aria-hidden="true" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg> 
    </a>
  </div>
  <div class="cart--content">
    <div class="no-items" {% if cart.item_count > 0 %}style="display: none;"{% endif %}>
      <p class="cart_empty" {% if settings.enable_multilang %}data-translate="cart.general.empty" {% endif %}>
        Your cart is currently empty.
      </p>
      <div class="text-continue">
        <a class="btn btn-continue" href="/">
          Continue shopping
        </a>
      </div>
    </div>
    <div class="has-items" {% if cart.item_count == 0 %}style="display: none;"{% endif %}>
      <div>
        <ol class="mini-products-list">
          {% for item in cart.items %}
          <li class="item" id="cart-item-{{item.id}}" data-variant="{{item.id}}">
            <a href="{{item.url}}" class="product-image">
              <img src="{{ item.image | product_img_url: '160x' }}" alt="{{item.title}}">
            </a>

            <div class="product-details">
              <a class="cart-product-name" href="{{item.url}}">
                {{ item.product.title }}
              </a>

              <div class="option">
                {% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                {{ item.variant.title }}
                {% endunless %}
                {% endif %}
              </div>

              <div class="cart-product-price">
                <span class="price"> 
                  {{item.line_price | money}}
                </span>
              </div>

              <div class="cart-collateral">
                <div class="quantity-box">
                  <div class="dec count-button">{% include 'icon-minus' %}</div>
                  <input type="text" class="quantity" name="quantity" value="{{ item.quantity }}">
                  <div class="inc count-button">
                    {% include 'icon-plus' %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ol>
      </div>

      <div class="total_cart">
        <form action="/checkout" class="cart-form wrapper-cart-template" method="post" novalidate>
          <textarea name="note" class="input-full" placeholder="Special instructions for seller" rows="4" id="CartSpecialInstructions"></textarea>
          <div class="summary">
            <div class="total">
              <span class="label">
                Subtotal
              </span>
              <span class="price">
                {{cart.total_price | money}}
              </span>
            </div>
            <p class="cart-shipping">
              Shipping & taxes calculated at checkout
            </p>
          </div>
          <div class="actions">
            <button class="btn btn-checkout" type="submit" onclick="window.location='/checkout'">
              {{ 'cart.general.checkout' | t }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>